
<footer class="page-footer">
    <div class="container">
        <div class="footer-copyright">
            <br>
            Construcción de software y toma de decisiones Grupo 401
        </div>
    </div>
</footer>
</html>