<!DOCTYPE html>
<html lang="es-mx">
<head>
<title>Lo mejor</title>
<meta charset="utf-8">
<nav>
<div>
<ahref="/">
Aqui es</a>
<span class="navbar-text">
<b>Renato Sebastian Ramirez Calva Lab12</b><br>
</span></div></nav>
<div>