<%- include('includes/head.ejs') %>

<!-- Para las rutas -->
<h1>Aqui esta lo chido que entretiene  </h1><br>
<br>
<p>Peliculas,Series:</p>
<a href="/EntV"><button type="button">Dale a las peliculas y series</button></a>
<br><br>
<p>Música:</p>
<a href="/EntA"><button type="button" class="btn btn-outline-secondary">Dale a la musica</button></a>
<br><br>

<br>
<h1>¿Qué otros templating engines existen para node?</h1>
<br>
<div >
    <div >
        <div>
            <h2>HandleBars</h2>
            <p>Sirve para generar HTML a partir de objetos con datos en formato JSON.<br></p>
        </div>
    </div>

    <div>
        <div>
            <div>
                <h2 >Eta</h2>
                <p>Es un motor de plantillas JS incorporado.<br></p>
            </div>
        </div>

        <div>
            <div>
                <h2>Marco</h5>
                <p>HTML reestructurado como un lenguaje para construir interfaces de usuario dinámicas y reactivas.<br></p>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h2>Pug</h2>
            <p>Pug JS permite utilizar archivos estáticos como plantillas; envia valores para reemplazar variables; transforma estos archivos en páginas HTML que se envían al cliente.</p>
        </div>
    </div>

    <div>
        <br><br>
          <div>
            <h2>EJS</h2>
            <p>Es un lenguaje de plantillas simple que le permite generar marcado HTML con JavaScript simple.</p>
          </div>
    </div>

      
    <div>
        <br><br>
        <div class="card-body">
            <h5 class="card-title">Nunjucks</h5>
            <p class="card-text">Tiene tales características como herencia de bloque, control asíncrono, y más.</p>
        </div>
    </div>

</div>
<br><br>
</body>


 <%- include('includes/foot.ejs') %>