<%- include('includes/head.ejs') %>
    <h1>Este sitio es de cantantes y Bandas favoritas </h1><br>
    
    <br><p>Cantantes:</p>
    <ul>
        <% for (let artista of cantantes) { %>
            <li><%= artista.nombre %></li>
        <%} %>
    </ul>
    <br>
    <a href="EntA/newcant"><button type="button">Agregar un nuevo Cantante</button></a>
    <br><br>
    
    <br><p>Bandas:</p>
    <ul>
        <% for (let banda of bandas) { %>
            <li ><%= banda.nombre %></li>
        <%} %>
    </ul>
    <br>
    <a href="EntA/newband"><button type="button">Agregar una nueva Banda</button></a>
    <br><br>
    </div>

<%- include('includes/foot.ejs') %>