<%- include('includes/head.ejs') %>

<body>
    <h1 id="principal">Aqui es de bandas</h1>
    <h3> Agrega tu banda:</h3>
    <br><br>
    <form action="/EntA/newBand" method="POST" enctype="multipart/form-data">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" >
        <label for="nombre">Nombre: </label> 
        <input type="text" id="nombre" name="nombre" >
        <br><br>
        <label for="descripcion">descripcion: </label> <br>
        <br><br>
        <label for="imagen">Imagen: </label> <br>
        <input type="file" name="imagen">
        <br><br>
        <a><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
    <a href="/EntA"><button type="button" class="btn btn-secondary">Regresar a pagina preincipal de musica</button></a>
    </div>
    <br>
</body>

<%- include('includes/foot.ejs') %>