<%- include('includes/head.ejs') %>


    <h1>Aqui es de Bandas </h1>
    <h2>Agrega banda:</h2>
    <br>
    <form action="/EntA/newBand" method="POST">
    <label for="nombre">Nombre: </label> 
    <input type="text" id="nombre" name="nombre" placeholder="Royal Blood">
    <br><br>
    <a href="/EntA"><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
    <a href="/EntA"><button type="button">Regresar a la página</button></a>
    </div>
    <br>
    </body>

<%- include('includes/foot.ejs') %>