
<%- include('includes/head.ejs') %>

    <body>
    <h1 id="principal">Eso de Peliculas </h1>
    <h2>Agrega:</h2>
    <br>
    <form action="/EntV/newMo" method="POST">
    <label for="nombre">Nombre: </label> 
    <input type="text" id="nombre" name="nombre" >
    <br><br>
    <a href="/EntV"><input type ="submit" value="Enviar"></a>
    </form>
    <br><br>
    <a href="/EntV"><button type="button">Regresar a la página</button></a>
    </div>
    <br>
    </body>


<%- include('includes/foot.ejs') %>