<%- include('includes/head.ejs') %>


    <h1>Aqui esta lo chido que entretiene  </h1><br>
    <br>
    <p>Peliculas,Series:</p>
    <a href="/EntV"><button type="button">Dale a las peliculas y series</button></a>
    <br><br>
    <p>Música:</p>
    <a href="/EntA"><button type="button" tline-secondary">Dale a la musica</button></a>
    <br><br>

    <h1>Preguntas a responder</h1>
    <br>
    
    <div >
        <h2 >
          <button >
            ¿Qué ventajas tiene escribir el código SQL únicamente en la capa del modelo?
          </button>
        </h2>
        <div >
          <div >
                Vuelve sencillo agregar metodos de consultas.<br>
          
          </div>
        </div>
    </div>
    
        <h2>
          <button>
            ¿Qué es SQL injection y cómo se puede prevenir?
          </button>
        </h2>
        <div >
          <div >
            La inyección de SQL es un ciberataque en el cual se inserta código en un sitio web y acceder a datos protegidos. Asi se controla la base de datos del sitio web. <br>
           <b>¿Cómo se evita?</b><br>
           <ul>
             <li>Convertir el valor a su forma correspondiente</li>
             <li>Usar una cuenta con RBAC a la base de datos</li>
             <li>No mostrar errores generados por la base de datos</li>
             <li>Rechazar peticiones con caracteres dudosos</li>
           </ul>
          </div>
        
        </div>
    <br><br>
    </body>
  
  
<%- include('includes/foot.ejs') %>