<%- include('includes/head.ejs') %>


    <h1>Aqui esta lo chido que entretiene  </h1><br>
    <br>
    <p>Peliculas,Series:</p>
    <a href="/EntV"><button type="button">Dale a las peliculas y series</button></a>
    <br><br>
    <p>Música:</p>
    <a href="/EntA"><button type="button">Dale a la musica</button></a>
    <br><br>

    <div  >
        <div >
        <h2 >
            ¿Qué otras formas de autentificación existen?
        </h2>
            <div >
            <ul>
                <li>Autenticación por conocimientos: basada en información que sólo conoce el usuario.</li>
                <li>Autenticación por pertenencia: basada en algo que posee el usuario.</li>
                <li>Autenticación por características: basada en alguna característica física del usuario.</li>
                <li>Autenticación mediante SMS.</li>
                <li>Autenticación basada en factores biométricos.</li>
            </ul>

            </div>
        </div>
    </div>
    <br><br>
    </body>
  
  
<%- include('includes/foot.ejs') %>