<%- include('includes/head.ejs') %>

<!-- Para las rutas -->
<h1>Aqui esta lo chido que entretiene  </h1><br>
<br>
<p>Peliculas,Series:</p>
<a href="/EntV"><button type="button">Dale a las peliculas y series</button></a>
<br><br>
<p>Música:</p>
<a href="/EntA"><button type="button" class="btn btn-outline-secondary">Dale a la musica</button></a>
<br><br>

<div >
    <h2>¿Qué beneficios encuentras en el estilo MVC?</h2>
    <div>
        <ul>
            <li>Separa las datos de una manera ordenada</li>
            <li>Ayuda a agregar datos</li>
            <li>Facilita el mantenimiento</li>
        </ul>
    </div>
</div>
<div>
    <h2>¿Encuentras alguna desventaja en el estilo arquitectónico MVC?</h2>
    <div>
        <ul>
            <li>La separación en capas agrega complejidad al sistema</li> 
        </ul>        
    </div>
</div>   
<br><br>
</body>
  
  
<%- include('includes/foot.ejs') %>