<%- include('includes/head.ejs') %>

   <body>
    <h1>Este sitio es de Películas, Series</h1><br>
    
     <br><p>Películas:</p>
     <ul>
        <% for (let pelicula of peliculas) { %>
            <li><%= pelicula.nombre %></li>
        <%} %>
    
    </ul>
    <br>
    <a href="EntV/newMo"><button type="button">Agregar nueva película</button></a>
    <br><br>
    
    <br><p>Series:</p>
    <ul>
        <% for (let serie of series) { %>
            <li><%= serie.nombre %></li>
        <%} %>
    </ul>
    <br>
    <a href="EntV/newSe"><button type="button">Agregar nueva serie</button></a>
    <br><br>
    </div>
    </body>
<%- include('includes/foot.ejs') %>